<h1>Name: {{ name }}</h1>
<h1>Mobile Number : {{ mobile }}</h1>
<h1>Age: {{ age }}</h1>
<button type="submit">Tap on me</button> <br />
<h1>Input is : {{ inputvalue }}</h1>
<input
  type="text"
  (value)="(inputvalue)"
  (change)="onchange($event)"
  placeholder="enter data"
/>

<!-- //from an single method -->
<input type="text" placeholder="enter data" [(ngModel)]="inputvalue" />

<div class="loopdata">
  @for(data of user ; track data.name){
    @if (data.age>20) {
      <h4>
        Name: {{ data.name }} , Age : {{ data.age }} , Course : {{ data.course }}
      </h4>
    }
    @else {
      Name: {{ data.name }} , Age : Under age, Course : {{ data.course }}
    }
  }
</div>
<hr />

<!--  *ngIf directive for conditional rendering -->
<div *ngFor="let data of user">
  <h1 *ngIf="data.age > 19"  else elseblock >              
    Name: {{ data.name }} , Age : {{ data.age }} , Course : {{ data.course }}
  </h1>
  <ng-template #elseblock>
    Name: {{ data.name }} , Age : Under age, Course : {{ data.course }}
  </ng-template>
</div>